.my-swiper-wrapper {
  padding-top: 0px;
  padding-bottom: 20px;
}

.product-Info {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.card-animation .product-Info {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s linear 0.5s;
}

.card-animation:hover .product-Info {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
.card-animation img {
  transition: transform 0.6s ease-in-out;
}
.card-animation:hover img {
  transform: scale(1.25);
}
