/* HeroSection.module.css */

/* Animation */
.moveUp {
  animation: moving-up 2s infinite alternate ease-in-out;
}

@keyframes moving-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Swiper styles (scoped only to this HeroSection) */
.mySwiper :global(.swiper-pagination-bullet) {
  background: #fff5ee !important;
}

.mySwiper :global(.swiper) {
  width: 100vw !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.mySwiper :global(.swiper-slide) {
  width: 100% !important;
  max-width: 100% !important;
}

.image-wrapper {
  height: 30vh;
}
@media only screen and (min-width: 360px) and (max-width: 379px) {
  .image-wrapper {
    height: 30vh;
  }
}
@media only screen and (min-width: 380px) and (max-width: 423px) {
  .image-wrapper {
    height: 30vh;
  }
}
@media only screen and (min-width: 425px) and (max-width: 479px) {
  .image-wrapper {
    height: 40vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .image-wrapper {
    height: 50vh;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .image-wrapper {
    height: 60vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .image-wrapper {
    height: 80vh;
  }
}
@media only screen and (min-width: 1024px) {
  .image-wrapper {
    height: 100vh;
  }
}
