/* HeroSection.module.css */

/* Animation */
.moveUp {
  animation: moving-up 2s infinite alternate ease-in-out;
}

@keyframes moving-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Swiper styles (scoped only to this HeroSection) */
.mySwiper :global(.swiper-pagination-bullet) {
  background: #fff5ee !important;
}

.mySwiper :global(.swiper) {
  width: 100vw !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.mySwiper :global(.swiper-slide) {
  width: 100% !important;
  max-width: 100% !important;
}
